

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  
}
.btn-primary{
    display: block;
    text-decoration: none;
    width: 18%;
    margin-top: 50px;
    font-size: 1.5rem;
    background-color:#0D1321 ;
    color: white;
    padding: 1.5%;
    border-radius: 5px;
    margin: auto;
}


/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px ;
}
.banner{
    background-image: url('../images/Hero-bg.png');
    background-size: cover;

    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content{
    padding: 4% 0 3% 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
   
}
.section{
    margin: 10% 5%;
}
.d-intro{
    text-align: center;
  
}

.section-1{
    display: flex;
    gap: 10%;
    margin-top: 3%;
    margin-bottom: 4%;
  

}
.section-2{
    display: flex;
    gap: 20%;
    flex-direction: row-reverse;
    margin-top: 3%;
    margin-bottom: 4%;
   

}
.part-1{
width: 80%;
}
.part-2{
    width: 20%;
    }
.part-1 button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
    .yt-video iframe{
        width: 100%;
        height: 720px;
        border-radius: 10px;
    }

    .target{
        display: flex;
        gap: 2%;
    }

    .card{
        border-radius: 5px;
        padding: 3%;
    }
 .card button, .btn-next{
    border: none;
    background-color: transparent;
    font-weight: bolder;
    text-decoration: underline;
 }
    .c0{
        background-color: hsl(12, 45%, 75%);
        
    }

    .c1{
        background-color: hsl(219, 60%, 82%);
        
    }
    .c2{
        background-color: hsl(53, 46%, 79%);
        
    }
    .mtb{
       margin: 2% 0;
    }
    .n1{
        display: flex;
        gap: 2%;
        padding: 1%;
        border: solid 1px rgb(223, 218, 218);
        border-radius: 10px;
    }
    .n1 img{
        width: 10%;
    }
    .support{
        color: aliceblue;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%;
        border-radius: 20px;
        background-image: url(../images/handshake.jpg);
        background-repeat: no-repeat;
        background-position: center;
        
    }
   .text-input{
        width: 45%;
        padding: 10px;
        border-radius: 5px;
    }
    .btn-submit{
        color: black;
        padding: 8px;
        border-radius: 5px;
        font-size: 1.2rem;
    }
    footer{
        background-color:#ecf2f3;
        display: flex;
        justify-content: space-between;
        padding: 2% 5%;
    
    }
